
#chamaimg{
    background-image: url("../images/titleimg.jpg");
}

#chamaroute{
    width: 100vw;
    height: 105.8vw;
    background-image: url("../images/chamaroute.png");
    background-size: 100% 100%;
    margin-top: 20px;
}
