<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mem" mimeType="text/data" />
            <mimeMap fileExtension=".datagz" mimeType="text/data" />
            <mimeMap fileExtension=".memgz" mimeType="text/data" />
            <mimeMap fileExtension=".jsgz" mimeType="text/data" />
        </staticContent>
    </system.webServer>
</configuration>
